:root {
    --color-background: #F3F8FC;
    --color-surface: #FFFFFF;

    --color-text: #102B4E;

    --color-primary: #123B73;
    --color-primary-hover: #1D5FA7;

    --color-accent: #12BFC7;
    --color-accent-hover: #0E969E;

    --color-accent-soft: #DDF7F8;
    --color-secondary-soft: #FFF1CC;

    --color-border: #C9DDEC;

    --h1-font-size: 48px;
    --h2-font-size: 38px;

    --p-font-size: 24px;
    --link-font-size: 24px;
}
